#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.notes.md
notes.md
301-workspaces/solution/payload.json
301-workspaces/solution/run.sh

examples/